alias zshconfig="nvim ~/.zshrc"
alias tmuxconfig="nvim ~/.config/tmux/tmux.conf"

alias fv="nvim \$(fzf)"
alias fcd="cd ~ && cd \$(fzf | sed 's/\/[^\/]*$//')"

alias v='nvim' # default Neovim config
alias yz='yazi'
alias vz='NVIM_APPNAME=nvim-lazyvim nvim' # LazyVim
alias vc='NVIM_APPNAME=nvim-nvchad nvim' # NvChad
alias vk='NVIM_APPNAME=nvim-kickstart nvim' # Kickstart
alias vw='NVIM_APPNAME=nvim-wiki nvim' # WikiVim
alias vm='NVIM_APPNAME=nvim-vimacs nvim' # Vimacs
