alias zshconfig="nvim ~/.zshrc"
alias tmuxconfig="nvim ~/.config/tmux/tmux.conf"

alias fman="compgen -c | fzf --height 40% --layout reverse --border --no-preview |  xargs man"
alias ftldr="compgen -c | fzf --height 40% --layout reverse --border --no-preview |  xargs tldr"
alias fv="nvim \$(fzf)"
alias fcd="cd ~ && cd \$(fzf | sed 's/\/[^\/]*$//')"
alias v='nvim' # default Neovim config
alias yz='yazi'
alias lz='lazygit'
